#main{
    display: flex;
    justify-content: center;
    width: 100%;
}
#gridDespesas{
    
    margin-top:100px;
    width: 800px;
    height: 350px;
    background-color: rgb(235, 235, 235);
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
}

#gridDespesas table{
    width: 800px;
}
#gridDespesas table th{
    padding-left: 10px;
    background-color: gray;
    
}

#gridDespesas table td{
    padding-left: 10px;
    /* border-bottom: 1px solid gray; */
    border-bottom: 1px solid gray
}